<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byType">

    <import resource="classpath*:conf/spring/mybeans.xml"/>

    <context:property-placeholder location="classpath:conf.properties" file-encoding="utf-8"/>

    <bean id="expressiveConfig" class="kernel.spring.DI.javaconfig.ExpressiveConfig"/>

    <bean id="company" class="kernel.spring.DI.implemation.Company"/>

</beans>